/*This file should primarily be referenced with future Dark/Light mode functionality*/


body{
    background-color: rgb(255, 192, 150);
    color: rgb(84, 23, 0);
}
.root{
    padding: 0;
    margin: 0;
}

.navContainer{
    background-color: brown;
    position: fixed;
    left:0;
    top:0;
    right:0;
    height: 40px;
    display: flex;
    align-items: center;

    padding-bottom: 20px;
}
.navContainer *{
    display: inline;
}

.navContainer nav{
    height:100%;

}

.navContainer li{
    margin: 20px;
}

.navContainer li a{
    color: antiquewhite;
    text-decoration: none;
}

.navLogo{
    height: 40px;
}


.hNav li{
    
}
