@tailwind base;
@tailwind components;
@tailwind utilities;
/*This file should primarily be referenced with future Dark/Light mode functionality*/

/*
body{
    background-color: rgb(255, 192, 150);
    color: rgb(84, 23, 0);
}
.root{
    padding: 0;
    margin: 0;
}
*/
.mightHide{
    display: none;
}
.navBar{
    position: top;
    top:0;
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    background-color: brown;
}

.navItem{
    padding: 1%;
    color: antiquewhite;
    margin:5px;
    
}

.navLogo{
    height: 40px;
}

